In [1]:
import pandas as pd
import numpy as np
import time
import datetime

In [7]:
data=pd.read_csv('tweets_2018.csv')
data.head()

,Unnamed: 0,compound,neg,neu,pos,Text,Date,Followers,User
0,0,0.7871,0.000,0.787,0.213,Will be leaving Florida for Washington (D.C.) ...,2018-01-01 13:37:52+00:00,45553019,realDonaldTrump
1,0,0.8672,0.089,0.683,0.228,Iran is failing at every level despite the ter...,2018-01-01 12:44:40+00:00,45553019,realDonaldTrump
2,0,-0.8256,0.256,0.580,0.164,The United States has foolishly given Pakistan...,2018-01-01 12:12:00+00:00,45553019,realDonaldTrump
3,0,0.8968,0.000,0.587,0.413,HAPPY NEW YEAR! We are MAKING AMERICA GREAT AG...,2017-12-31 23:43:04+00:00,45553019,realDonaldTrump
4,0,0.8915,0.211,0.384,0.405,As our Country rapidly grows stronger and smar...,2017-12-31 22:18:20+00:00,45553019,realDonaldTrump

In [11]:
when = data.Date[int(daypos[0])]
print(when, type(when))

then = datetime.datetime.strptime('2018-01-01 13:37:52+00:00', '%Y-%m-%d').date()
print(then, type(then))

NameError: name 'daypos' is not defined